/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    withName: 'FILTER_RFAM_CM' {
        publishDir = [
            path: { "${params.outdir}/rfam" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'GENOME_CHUNK' {
        // Intermediate files — not published
        publishDir = [
            enabled: false
        ]
    }

    withName: 'CMSEARCH' {
        // Intermediate tblout files — not published
        publishDir = [
            enabled: false
        ]
        ext.args = params.mode == 'mgnify-assembly'
            ? '--noali --hmmonly -Z 1000 --cut_ga'
            : '--rfam --nohmmonly --cut_ga'
    }

    withName: 'PARSE_RFAM' {
        publishDir = [
            path: { "${params.outdir}/rfam" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        ext.args = params.mode == 'mgnify-assembly' ? '--include_prokaryotic_rrna' : ''
    }

    withName: 'RFAM_TO_FORMATS' {
        publishDir = [
            path: { "${params.outdir}/annotation" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode
        ]
    }

}
